 
.education-item{     
    display: flex; 
}

.education-course{
    margin-top: 30px;    
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: auto;
    width: 220px;
    padding: 10px;
     
}

.education-institution{    
    margin-top: 30px;
    margin-left: 20px;      
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;    
    height: 20px;
    width: 60px;
    padding: 12px;
    text-align: right;
     
}

.graduacao{
    text-align: left;
    color: #0A0A0A;   
    background-color: #ffffff;
}

.course{
    text-align: left;
    color: #ffffff;   
    background-color: #0C5EE0;
}