.projectSection{
    margin: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
} 
.projects{    
    display: flex;
    color: #FFFFFF;
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
} 

 