 .experience-container{
    margin-left: 100px;
 }
.expItem{
    display: flex;
    flex-direction: column;    
    background: #FFFFFF;   
    margin: 55px;
    padding: 10px;
    border-radius: 10px;
}

.logoEmpresa{    
    width: 170px;
    height: 55px;
    margin-top:  -80px;
    margin-left: -30px;
    background: #0C5EE0;
    padding: 15px;          
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;    
}

.empresa{
    color: #FFFFFF;
    display: flex;     
    padding: 7px;
    margin: 15px;
    width: 220px ;     
    margin-top: -85px; 
    margin-left: 176px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
}
.cargo{
    color: #FFFFFF;
    display: flex;
    margin-top: -53px;
    margin-left: 280px;   
    width: 156px;      
}

.descricao{
    font-size: 17px;
    padding: 5px;
    color: #0A0A0A;
    display: flex;
    margin-top: 80px;
    flex-wrap: wrap;
    height: 200px;
    width: 400px;
}
 