/* .vertical{
    display: flex;
    text-transform: uppercase;
    letter-spacing: 25px;
    color: #FFFFFF;
    transform: rotate(90deg);
    position: absolute;
    margin-top: 25vh;

} */