.skills-text{
    display: flex;   
    justify-content: left;

}


.div-img{
    background-image: url('../../assets/div.png');
    transform: rotate(90deg);     
    height: 5px;
    margin: 30px -20px;        
}


.div-skills{
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;     
}

 .skills-text{     
    margin: 0 150px 0 150px;     
    margin-bottom: 80px;  
}

/*
.div-img{
    background-image: url('../../assets/div.png');
    transform: rotate(90deg);
    width: 50px;
    margin: 10px;  
}


.div-skills{
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 10px;
} */