.div-img{
    background-image: url('../../assets/div.png');
    transform: rotate(90deg);     
    height: 5px;
    margin: 30px -20px;        
}

.div-skills{
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;     
}

.skills-text{          
    display: flex;    
}

 
@media screen and (max-width: 768px ){
    .div-skills{
        font-size: 1.5rem;
        margin-top: 15px;
    }  
}