.vertical-top-down{
    display: flex;
    text-transform: uppercase;
    letter-spacing: 30px;
    padding-left: 10px;
    color: #FFFFFF;
    transform: rotate(90deg);
} 
 
.appdiv{
    background : #0C5EE0;
}

#appClass{
    justify-content: center;
}

.skills-exp{
    display: flex;
    flex-wrap: wrap;
}

 
.cointainer{
    padding: 150px;
}

@media screen and (max-width: 768px ){

    .cointainer{
        padding: 10px;
        
        align-items: center;
        justify-content: center;

    }

    .skills-exp{
        display: flex;
        flex-wrap: wrap;
    }
}