.div-img{
    background-image: url('../../assets/div.png');
    transform: rotate(90deg);
    width: 50px;
    margin: 10px;  
}

.skills-text{
    display: flex;   
}
 
.div-skills{
    font-size: 50px;
    font-weight: bold;
    color: #3c859b;
    margin: 10px;
}
.skill{    
    /* border-radius: 10px; */
    display: flex;
    width: auto;
    height: auto;     
    background: #2b2a2a;          
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 10px;  */  
}

.skill-item{          
    border-width: 3px;
    border-style: solid;    
    border-image:  
    linear-gradient(
      to top, 
      rgb(60, 133, 155), 
      rgba(0, 0, 0,  0)
    ) 2 90%;
    align-items: center;
    justify-content: center;    
    margin: 5px;
    padding: 5px;
    text-align: center;     
}

.skill-pic{    
    width: 135px;
}

.skill-name{    
    font-size: 15px;
    color: #FFFFFF;
}
.skill-button{
    border-radius: 10px;
    background: #3c859b;
    color: #FFFFFF;
    height: auto;     
    width: 100px;
    text-align: center;
    margin: 10px;
}