.skills-container{
    margin: -100px 0 100px 0;    
}

.skillsUnion{
    display: flex;
    justify-content: center;
}
.skillsSection{
    margin: 50px;
}
 
.div-img{
    background-image: url('../../assets/div.png');
    transform: rotate(90deg);
    width: 50px;
   
}

.skills-text{
    display: flex;       
}
 
.div-skills{    
    font-size: 50px;
    font-weight: bold;
    color: #0C5EE0;
    margin: 10px;        
}

.skill{      
    display: flex;
    width: auto;     
    height: auto;     
    background: #0A0A0A;          
    flex-wrap: wrap;
    justify-content: center;
}

.skill-item{          
    border-width: 1px;
    border-style: solid;    
    border-image:  
    linear-gradient(
      to top, 
      #0C5EE0, 
      rgba(0, 0, 0,  0)
    ) 1  ;
    align-items: center;    
    margin: 5px;
    padding: 5px;     
    text-align: center;          
}

.skill-pic{    
    width: 135px; 
    mix-blend-mode:     exclusion;
}

.skill-name{    
    font-size: 15px;
    color: #FFFFFF;    
}

.skill-button{
    border-radius: 10px;
    background: #0C5EE0;
    color: #FFFFFF;
    height: auto;     
    width: 220pxpx;
    text-align: center;
    margin: 10px;
    padding: 10px;   
}

 