.header-david{
    display: flex;
    min-width: 1220px;
}
.headerpage{
    font-weight: bold;
    color: #FFFFFF;
    display: flex;    
    background: red;
    flex-wrap: wrap;
    height: auto;   
    background: linear-gradient(90deg, rgba(10,10,10,1)  0%, rgba(12,94,224,1) 59%);  
    flex-direction:column ;
    /* position: fixed; */
    width: 100%; 
}

.header-name{
    margin: 15px 200px 15px ;
    font-size: 20px;
    color: #FFFFFF;
}

.div-name{     
    transform: rotate(90deg);     
    width: 30px;
    margin: 20px 200px 15px -190px ;
    height: 5px;

}
.header-wellcome{
    margin: 15px 200px 15px -150px;
    color: #ffffff;
    font-size: 20px;
   
}

.logo{    
    mix-blend-mode: screen;
    justify-content: right;     
    position: absolute;
    left: 140px;
    top: 1px;
    width: 50px;
    height: 50px;
}

.section-page{
    color: #ffffff;
    display: flex;
    gap: 50px;          
    font-size: 18px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 7px 13px;;
    text-decoration: none;

}

.section-page__name:hover{
    color: #ffffff;
    text-decoration: underline;
      
    background: #8C8C8C;
    border-radius: 3px;
}

a{
    color: #ffffff;
}

.references-page{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: auto;
    margin: 10px;
    height: 10px;
}


@media screen and (max-width:940px ) {   
    
    .headerpage{
        display: none;
    }
}