.experience-container{
    display: flex;
    flex-wrap: wrap;
}

.experiences {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.experienceUnion{
    display: flex;
    justify-content: center; 
}

.sectionExp{
    margin: 20px;
    display: flex;
    margin-bottom: 120px;
}

#expSection{
    margin-top: 80px;     
    display: flex;     
}

 