 
 
.experience-container{
    display: flex;
    flex-wrap: wrap;
}

.experiences {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
}

.experienceUnion{
    display: flex;
    justify-content: center; 
}

.sectionExp{
    margin: 20px;
    display: flex;
    margin-bottom: 120px;
}
 
@media screen and (max-width: 768px ){
  
     
 
.experience-container{
    display: flex;
    flex-wrap: wrap;
}

.experiences {
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;

}

.experienceUnion{
    display: flex;
    justify-content: center; 
}

.sectionExp{
    margin: 2px;
    display: flex;
    margin-bottom: 12px;
}

#expSection{
    margin-top: 8px;     
    display: flex;   
    margin-right: 25px;
}

#experience-section{
    margin-top: -140px;
    align-items: center;
}

.desc-experience{
    margin-top: 135px;
     
}

}


