
.experiences {
    margin-top: 30px;
    display: flex;
     
    flex-wrap: wrap;
    /* margin-left: 150px; */
     
}
.experienceUnion{
    display: flex;
    justify-content: center; 
}

.sectionExp{
    margin: 20px;
    display: flex;
    margin-bottom: 120px;
     
}

.expSection{
    margin-top: 80px;
    margin-left: -210px;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 300px) {
    .expSection{
   
    }
   }